{% block body %}
    <a class="btn btn-default" href="{{ path('article_read')}}">Back to Articles</a>

    <div class="row">
        <div class="col-lg-9">
            <div>
                <img alt="" height="250" width="450" class="img-fluid" src="{{  imageart }}" >
            </div>



            <div class="row">
                <div class="col-lg-6">

                    <div class="owl-carousel owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 10}">



                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-680px, 0px, 0px); transition: all 0s ease 0s; width: 2380px;">
                            </div></div>
                        <div class="owl-nav disabled">
                            <div class="owl-prev"></div>
                            <div class="owl-next"></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div>
                            <div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>

                </div>

                <div class="col-lg-4">

                    <div class="summary ">

                        <h1 class="mb-0">Nom Article: {{ titre }}</h1>



                        <br class="mb-5">Description : {{ text }} </p>




                    </div>


                </div>
            </div>




        </div>

    </div>



{% endblock %}