{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
    <a href="register" ><input type="submit" value="S'inscrire" class="btn btn-primary float-right mb-3" /> </a>
{% endblock fos_user_content %}
