{% extends "base.html.twig" %}


{% block body %}
        <html>
        <head>
        </head>
<body>
        <center > <h1 style="color: #00A0D1" ><u>AJOUTER UN CATEGORIE</u></h1>



        {{ form_start(form) }}
    {% if is_granted('ROLE_ADMIN') %}

            <br><input type="submit" id="_submit" name="_submit" value="Ajouter un Article" class="btn btn-primary  mb-3"></br>
{% endif %}
        {{ form_end(form) }}
</center></body></html>
{% endblock %}