{% extends "base.html.twig" %}


{% block body %}<center> <h1>Index</h1>
    <p class="important">
        Modifier Votre tags.
        {{ form_start(form) }}

        {{ form_end(form) }}
    </p></center>

{% endblock %}